body{
    background-color: bisque;
    font-family: 'Lucida Sans', Arial, sans-serif;
}

h1{
    text-align: center;
}

p{
    text-align: center;
    font: arial;
}

button{
    padding: 16px 48px;
}

#rec{
    background-color: skyblue;
}

#rec:hover{
    background-color: cornflowerblue;
    transition-duration: 0.5s;
}

#get{
    background-color: indianred;
}

#get:hover{
    background-color: purple;
    transition-duration: 0.5s;
}