---
layout: default
---

{%-include back_link.html-%}

<h3>Rohan Tan Bhowmik's homepage</h3>

<a href='https://rohan-tan-bhowmik.github.io'>Home</a> <a href='https://rohan-tan-bhowmik.github.io/research'>Research</a> <a href='https://rohan-tan-bhowmik.github.io/publications'>Publications</a> <a href='https://rohan-tan-bhowmik.github.io/awards'>Awards</a>

<h1>{{ page.title }}</h1>

{{ content }}

<br />

<a href='https://rohan-tan-bhowmik.github.io'>Home</a> <a href='https://rohan-tan-bhowmik.github.io/research'>Research</a> <a href='https://rohan-tan-bhowmik.github.io/publications'>Publications</a> <a href='https://rohan-tan-bhowmik.github.io/awards'>Awards</a>
